---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: redactors.troubleshoot.replicated.com
spec:
  group: troubleshoot.replicated.com
  names:
    kind: Redactor
    listKind: RedactorList
    plural: redactors
    singular: redactor
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        description: Redactor is the Schema for the redaction API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: RedactorSpec defines the desired state of Redactor
            properties:
              redactors:
                items:
                  properties:
                    fileSelector:
                      properties:
                        file:
                          type: string
                        files:
                          items:
                            type: string
                          type: array
                      type: object
                    name:
                      type: string
                    removals:
                      properties:
                        regex:
                          items:
                            properties:
                              redactor:
                                type: string
                              selector:
                                type: string
                            type: object
                          type: array
                        values:
                          items:
                            type: string
                          type: array
                        yamlPath:
                          items:
                            type: string
                          type: array
                      type: object
                  type: object
                type: array
            type: object
          status:
            description: RedactorStatus defines the observed state of Redactor
            type: object
        type: object
    served: true
    storage: true
