project_name: troubleshoot
release:
  github:
    owner: replicatedhq
    name: troubleshoot
builds:
  - id: so
    goos:
      - linux
    goarch:
      - amd64
    env:
      - CGO_ENABLED=1
      - GO111MODULE=on
    main: ffi/main.go
    flags: -buildmode=c-shared
    binary: troubleshoot.so
    hooks: {}
  - id: preflight
    goos:
      - linux
      - darwin
      - windows
    goarch:
      - amd64
    env:
      - CGO_ENABLED=0
    main: cmd/preflight/main.go
    ldflags: -s -w
      -X github.com/replicatedhq/troubleshoot/pkg/version.version={{.Version}}
      -X github.com/replicatedhq/troubleshoot/pkg/version.gitSHA={{.Commit}}
      -X github.com/replicatedhq/troubleshoot/pkg/version.buildTime={{.Date}}
      -extldflags "-static"
    flags: -tags netgo -installsuffix netgo
    binary: preflight
    hooks: {}
  - id: support-bundle
    goos:
      - linux
      - darwin
      - windows
    goarch:
      - amd64
    env:
      - CGO_ENABLED=0
    main: cmd/troubleshoot/main.go
    ldflags: -s -w
      -X github.com/replicatedhq/troubleshoot/pkg/version.version={{.Version}}
      -X github.com/replicatedhq/troubleshoot/pkg/version.gitSHA={{.Commit}}
      -X github.com/replicatedhq/troubleshoot/pkg/version.buildTime={{.Date}}
      -extldflags "-static"
    flags: -tags netgo -installsuffix netgo
    binary: support-bundle
    hooks: {}
archives:
  - id: so
    builds:
      - so
    format: tar.gz
    name_template: 'troubleshoot.so_{{ .Os }}_{{ .Arch }}'
  - id: preflight
    builds:
      - preflight
    format: tar.gz
    format_overrides:
      - goos: windows
        format: zip
    name_template: '{{ .Binary }}_{{ .Os }}_{{ .Arch }}'
    files:
      - licence*
      - LICENCE*
      - license*
      - LICENSE*
      - readme*
      - README*
      - changelog*
      - CHANGELOG*
  - id: support-bundle
    builds:
      - support-bundle
    format: tar.gz
    format_overrides:
      - goos: windows
        format: zip
    name_template: '{{ .Binary }}_{{ .Os }}_{{ .Arch }}'
    files:
      - licence*
      - LICENCE*
      - license*
      - LICENSE*
      - readme*
      - README*
      - changelog*
      - CHANGELOG*
dockers:
  - dockerfile: ./deploy/Dockerfile.troubleshoot
    image_templates:
      - "replicated/troubleshoot:latest"
      - "replicated/troubleshoot:{{ .Major }}"
      - "replicated/troubleshoot:{{ .Major }}.{{ .Minor }}"
      - "replicated/troubleshoot:{{ .Major }}.{{ .Minor }}.{{ .Patch }}"
    binaries:
      - collector
      - support-bundle
      - preflight
  - dockerfile: ./deploy/Dockerfile.troubleshoot
    image_templates:
      - "replicated/preflight:latest"
      - "replicated/preflight:{{ .Major }}"
      - "replicated/preflight:{{ .Major }}.{{ .Minor }}"
      - "replicated/preflight:{{ .Major }}.{{ .Minor }}.{{ .Patch }}"
    binaries:
      - collector
      - support-bundle
      - preflight
  - dockerfile: ./deploy/Dockerfile.manager
    image_templates:
      - "replicated/troubleshoot-manager:latest"
      - "replicated/troubleshoot-manager:{{ .Major }}"
      - "replicated/troubleshoot-manager:{{ .Major }}.{{ .Minor }}"
      - "replicated/troubleshoot-manager:{{ .Major }}.{{ .Minor }}.{{ .Patch }}"
    binaries:
      - manager
